p {
    margin: 0 150px;
    font-size: 25px;
    font-family:"Courier New";
}
em {
    font-style: italic;
    color: {{ color }};
}
#noun {
    color: red;
}
#person{
    color: RoyalBlue;
}
.descriptor {
    font-weight: bold;
}
#adj {
    background-color: seashell;
    color: Teal ;
}

h1{
    font-weight: bold;
    color: Tomato;
    margin-left: auto;
    margin-right: auto;
}
