<!DOCTYPE html>
<html>
<head>
    <title>Play Madlib!</title>
</head>
<body>
<form action="/madlib">
Name a person: <input type="text" name="person"><br>
Color: 
<input type="radio" name="color" value="green">Green
<input type="radio" name="color" value="blue">Blue
<input type="radio" name="color" value="yellow">Yellow
<input type="radio" name="color" value="purple">Purple
<input type="radio" name="color" value="red">Red
<br>
Noun: 
<select name="noun">
    <option value="oreo">Oreo</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="love">Love</option>
</select>
<br>
Adjective: 
<select name="adjective">
    <option value="runny">Runny</option>
    <option value="galmorous">Glamorous</option>
    <option value="victorious">Victorious</option>
    <option value="dazzling">Dazzling</option>
    <option value="ambitious">Ambitious</option>
</select>
<br>
<input type="date" name="birthdate">
<br>
Phone number: 
<input type="tel" name="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="587-671-6420" >
<br>
Email: <input type="email" name="email" placeholder="email@uberstrawberry.com">
<br>
<input type="submit">
</form>

</body>
</html>