<!DOCTYPE html>
<html>
<head>
    <title>Play Madlib!</title>
</head>
<body>
<form action="/madlib">
Name a person: <input type="text" name="person"><br>
Color:
{% for color in ['green', 'blue', 'yellow', 'purple', 'red'] %}
    <input type="radio" name="color" value="{{ color }}">{{ color.capitalize() }}
{% endfor %}

<br>
Noun: 
<select name="noun">
{% for noun in ['oreo', 'dog', 'cat', 'love'] %}
    <option value={{ noun }}> {{ noun.capitalize() }}</option>
    {% endfor %}
</select>

<br>
Adjective: 
<select name="adjective">
{% for adj in ['funny', 'glamorous', 'victorious', 'dazzling', 'ambitious'] %}
    <option value={{ adj }}>{{ adj.title() }}</option>
{% endfor %}
</select>
<br>
<input type="date" name="birthdate">
<br>
Phone number: 
<input type="tel" name="number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="587-671-6420" >
<br>
Email: <input type="email" name="email" placeholder="email@uberstrawberry.com">
<br>
<input type="submit">
</form>

</body>
</html>